.about-me__content {
    justify-content: space-evenly;
    padding: $l-size 0;
}

.about-me__photo {
    width: 30%;
    img {
        width: 100%;
        border-radius: 60%;
    }
}

.about-me__bio {
    text-align: center;
    width: 60%;
    p {
        margin: 0;
        padding: $s-size $s-size;
    }
}

@media (max-width: $desktop-breakpoint) {
    .about-me__content {
        flex-direction: column;
        align-items: center;
        padding: $m-size 0;
    }
    .about-me__photo {
        width: 60%;
        padding: $s-size 0;
    }
    .about-me__bio {
        width: 80%;
    }
}