.row {
    display: flex;
    flex-direction: row;
    padding: $s-size 0;
}

.column {
    display: flex;
    flex-direction: column;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.evenly-distributed {
    justify-content: space-evenly;
}

.right-position {
    align-self: flex-end;
}