.footer__header {
    font-family: $righteous-font;
    h2 {
        font-weight: 100;
    }
}

.page-info {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    h3 {
        font-family: $righteous-font;
        font-weight: 100;
        margin: 0;
    }
}

.page-info__love-icon {
    margin: 0 0.7rem;
    color: $heart-color;
    font-size: 1.7rem;
}

.footer__content {
    @extend .row;
}

@media (max-width: $desktop-breakpoint) {
    .footer__content {
        flex-direction: column;
        align-items: center;
    }
    .page-info {
        padding: $xl-size 0;
    }
    .contact-me {
        width: 80%;
    }
}