.navbar {
	background: $dark-blue;
	color: $clear-grey;
	font-size: $font-size-xlarge;
	font-family: $righteous-font;
	position: sticky;
	top: 0;
	z-index: 2;
}

.navbar__content {
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding: $s-size 0;
}

.navbar__menu {
	a {
		padding: 0 0.5rem;
		text-decoration: none;
		color: darken($clear-grey, 30%);
	}
	a:hover {
		color: $clear-grey;
	}
	.active {
		color: $clear-grey;
	}
	ul {
		padding: 0 !important;
		margin: 0;
	}
}

.drawer {
	display: flex;
	& .MuiPaper-root {
		color: $clear-grey !important;
		background: $dark-blue;
		width: 65%;
		padding: $m-size;
		a {
			color: $clear-grey !important;
		}
	}
}