
/* This class style all the
navigation bar */
.navigation-bar {
    height: 4em;
    border-radius: 0px;
}

/* This class customize the name of the
person resume */
.my-name {
    font-size: 30px;
}

.menu > a {
    font-size: 21px;
    padding-bottom: 10px !important;
}

.menu > a:hover {
    border-bottom: 4.9px #ffffff solid;
    background-color: #414141 !important;
}

.menu > a:active {
    border-bottom: 4.9px #ffffff solid;
    background-color: #414141 !important;
}

.option-menu {
    margin-left: 76%;
}

.bg-primary {
    background-color: #2e2e2e !important;
}

.welcome-panel {
    width: 100%;
    margin-right: 0px;
    float: left;
    background-image: linear-gradient(to top, rgba(103, 103, 103, 1) 5%, rgba(46, 46, 46, 1) 41%);
    color: #dce3e3;
    font-family: 'Marcellus', serif;
    height: 67em;
}

.welcome-panel > .glyphicon {
    font-size: 70px;
}

.gradient {
    width: 100%;
    height: 20em;
}

.welcome-panel > .container{
    height: 57.55em;
}

.container {
    width: 1610px !important;
}

.font {
    font-family: 'Marcellus', serif; 
}

.photo-circle {
    width: 77%;
    border-radius: 100%;
    margin-top: 30%;
    margin-left: 118%;
}

/* Skills */
/* Programming languages section */

.programming-section {
    background-color: #676767;
}

.section-name {
    font-size: 50px !important;
    float: left;
    margin-bottom: 55px;
}

.second-row {
    margin-top: 100px;
    padding-left: 230px;
    width: 113%;
}

/* Style for the SkillsContainer */

.container-skills {
    font-family: 'Source Code Pro', monospace;
    width: 360px;
}

.image-circle {
    width: 58%;
    height: 200px;
}