
/* This class style all the
navigation bar */
.navigation-bar {
    height: 4em;
    border-radius: 0px;
}

/* This class customize the name of the
person resume */
.my-name {
    margin-left: 100px;
}

.option-menu {
    margin-left: 76%;
}