//Colors
$dark-grey: #333333;
$dark-blue: #455a64;
$clear-grey: #cfd8dc;

// Font size
$font-size-xlarge: 2.2rem;
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;

// Font family
$righteous-font: Righteous, monospace;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;

// image-size
$sprite-size: 4.2rem;